<!-- ***** Features Events Area Start ***** -->
<section class="dorne-features-events-area bg-img bg-overlay-9 section-padding-100-50" 
style="background-image: url(assets/img/bg-img/best-background-27.jpg)"width = "500px" height = "500px" >
  <div class="container custom-container">
      <div class="row">
          <div class="col-12">
              <div class="section-heading text-center">
                  <h2><font color="wheat"><b>The Best of Adventure Activities in India</b></font></h2>
                  <h3><font color="white">We live in a wonderful world that is full of beauty, 
                    charm and adventure. There is no end to the adventures that we can have if 
                    only we seek them with our eyes open.
                  </font>
                </h3>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.2s">
                  <div class="feature-events-thumb" >
                      <img src="assets/img/bg-img/hotty.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>HOT-AIR BALLOONING</h5>
                      <h6>Rajasthan</h6>
                      <p>Hot air balloon rides in the 'Pink City' Jaipur, is one of the most favorite pastimes for tourists from India and abroad. </p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.3s">
                  <div class="feature-events-thumb">
                      <img src="assets/img/bg-img/trekk.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>TREKKING</h5>
                      <h6>Jammmu & Kashmir</h6>
                      <p>Trekking might sound like a very common and relatively easy activity for adventure in India. trekking can be the one of the most thrilling activities.</p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.4s">
                  <div class="feature-events-thumb">
                      <img src="assets/img/bg-img/cliff_500x500.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>CLIFF JUMPING</h5>
                      <h6>Rishikesh</h6>
                      <p>Cliff Jumping is a popular adventure activity in the rugged terrains of Shivpuri. This place is thronged by adventure buffs all through the year.</p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.5s">
                  <div class="feature-events-thumb">
                      <img src="assets/img/bg-img/parag_500x500.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>PARA GLIDING</h5>
                      <h6>Manali</h6>
                      <p>Paragliding is the tailor-made activity for you! Whether it is the lush greenery of the valleys that you would like to gaze.</p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.6s">
                  <div class="feature-events-thumb">
                      <img src="assets/img/bg-img/raft_500x500.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>RAFTING</h5>
                      <h6>Uttarakhand</h6>
                      <p>Rafting is the most common adventure activity of India. Every adventure enthusiast starts off by setting the foot in the waters for a swift rafting experience. </p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
          <div class="col-12 col-lg-6">
              <div class="single-feature-events-area d-sm-flex align-items-center wow fadeInUpBig" data-wow-delay="0.7s">
                  <div class="feature-events-thumb">
                      <img src="assets/img/bg-img/wtr_500x500.jpg" alt="">
                      <div class="date-map-area d-flex">
                      </div>
                  </div>
                  <div class="feature-events-content">
                      <h5>WATERFALL RAPELLING</h5>
                      <h6>Kerela</h6>
                      <p>Rappelling is an adventure sport that allows you to descend down from a cliff using a rope.As the name suggests, is descending down from a waterfall using the same technique.</p>
                  </div>
                  <div class="feature-events-details-btn">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Features Events Area End ***** -->

 <!-- ***** Editor Pick Area Start ***** -->
 <section class="dorne-editors-pick-area bg-img bg-overlay-9 section-padding-100" style="background-image: url(assets/img/bg-img/hero-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <span></span>
                    <h4><font color="White">Some Major Cities of India you must see</font></h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
               
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.2s">
                        <img src="assets/img/bg-img/Delhi.jpg" alt="">
                        <div class="editors-pick-info">
                            <div class="places-total-destinations d-flex">
                                <a >New Delhi</a>
                            </div>
                            
                        </div>
                    </div>
                    <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.4s" >
                            <img src="assets/img/bg-img/mumbai-dalbera.jpg" alt="">
                            <div class="editors-pick-info">
                                <div class="places-total-destinations d-flex">
                                    <a>Mumbai</a>
                                </div>
                                
                            </div>
                        </div>
                        
               
            </div>
            
            <div class="col-12 col-lg-6">
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.6s">
                    <img src="assets/img/bg-img/chen.jpg" alt="">
                    <div class="editors-pick-info">
                        <div class="places-total-destinations d-flex">
                            <a >Chennai</a>
                        </div>
                        
                    </div>
                </div>
                <div class="single-editors-pick-area wow fadeInUp" data-wow-delay="0.8s">
                        <img src="assets/img/bg-img/queen.jpg" alt="">
                        <div class="editors-pick-info">
                            <div class="places-total-destinations d-flex">
                                <a >Kolkata</a>
                            </div>
                            
                        </div>
                    </div>
                   
               
            </div>
        </div>
    </div>
</section>
<!-- ***** Editor Pick Area End ***** -->


<app-feature></app-feature>