

<!-- Banner -->
<section class="banner full">
  <article>
    <img src="/assets/images/tea-plantations-1571586_1920_1440x970.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Assam is a state in northeastern India known for its wildlife, archeological sites and tea plantations.<br>
           In the west, Guwahati, Assam’s largest city, features silk bazaars and the hilltop Kamakhya Temple.<br>
            Umananda Temple sits on Peacock Island in the Brahmaputra river. <br>
            The state capital, Dispur, is a suburb of Guwahati.
           The ancient pilgrimage site of Hajo and Madan Kamdev, the ruins of a temple complex, lie nearby.</p>
        <h2>Assam</h2>
      </header>
    </div>
  </article>
  <article>
      <img src="assets/images/Beautiful_enchanting_Sikkim_1440x970.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Sikkim is a state in northeast India, bordered by Bhutan, Tibet and Nepal.<br>
             Part of the Himalayas, the area has a dramatic landscape that includes India’s highest mountain,
              8,586m Kangchenjunga.<br> Sikkim is also home to glaciers, alpine meadows and thousands of varieties
               of wildflowers.<br> Steep paths
             lead to hilltop Buddhist monasteries such as Pemayangtse, which dates to the early 1700s
              .</p>
          <h2>Sikkim</h2>
        </header>
      </div>
    </article>
    <article>
        <img src="assets/images/Living-Bridges-Meghalaya-4832x2416_1440x970.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Meghalaya is a state in Northeast India. The name means "the abode of clouds" in Sanskrit.<br> 
              The population of Meghalaya as of 2016 is estimated to be 3,211,474.<br>
              The state is bounded to the south by the Bangladeshi divisions of Mymensingh and Sylhet, to the west by the Bangladeshi division of Rangpur, 
              <br>and to the north and east by India's State of Assam. The capital of Meghalaya is Shillong.</p>
            <h2>Meghalaya</h2>
          </header>
        </div>
      </article>
  <article>
    <img src="assets/images/hornbill-tribes-laugh_1440x970.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Nagaland is a mountainous state in northeast India, bordering Myanmar. <br>
          It's home to diverse indigenous tribes, with festivals and markets celebrating the different tribes'
          
           culture.<br> Its capital city of Kohima suffered heavy fighting in World War II, 
           commemorated by memorials at the Kohima War Cemetery.<br> The Nagaland State Museum exhibits 
           ancient weaponry, <br>
          a ceremonial drum and other traditional Naga cultural artifacts.
          </p>
        <h2>Nagaland</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/IMPH-018_1_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Manipur is a state in Northeast India, with the city of Imphal as its capital.<br>
           It is bounded by Nagaland to the north, Mizoram to the south, and Assam to the west;
            Burma lies to its east.
          <br>During the Raj, the Kingdom of Manipur was one of the princely states.</p>
        <h2>Manipur</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/bfb681232e854ec270e0ec92795b0059_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Mizoram is a state in Northeast India, with Aizawl as its capital city.<br>
           The name is derived from "Mizo", the name of the native inhabitants, 
          and "Ram", which means land, and thus Mizoram means "land of the Mizos".
          </p>
        <h2>Mizoram</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/maxresdefault_1_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Arunachal Pradesh is one of the most popular states in Northeast India. 
          <br>It is one of the 29 states of India and is the northeastern-most state of the country.<br>
           Arunachal Pradesh borders the states of Assam and Nagaland to the south and shares international 
           borders with Bhutan in the west,<br> Myanmar in the east and is 
          separated from China in the north by the disputed McMahon Line. <br>
          Itanagar is the capital of the state.</p>
        <h2>Arunachal Pradesh</h2>
      </header>
    </div>
  </article>
  
    <article>
        <img src="assets/images/95ca8fceaf8f83166d5b6ef21d2f721a_1440x970.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Tripura is a hilly state in northeast India, bordered on 3 sides by Bangladesh,<br>
               and home to a diverse mix of tribal cultures and religious groups. In the capital Agartala,<br>
                the imposing Ujjayanta Palace is set among Mughal gardens, and Gedu Mia’s Mosque has white marble
                 domes and towers. <br>South of the city, Neermahal summer
               palace sits in the middle of Lake Rudrasagar and blends Hindu and Islamic architectural styles.</p>
            <h2>Tripura</h2>
          </header>
        </div>
      </article>
</section>


<section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>Northeast India is the easternmost region of India representing both a geographic and political administrative division of the country. It comprises eight states – 
          Arunachal Pradesh, Assam, Manipur, Meghalaya, Mizoram, Nagaland, Sikkim and Tripura.</p>
        <h2>There are 8 Northeast India.</h2>
        <h3>Places you must visit in Northeast India</h3>
      </header>
    </div>
  </section>
<!-- One -->

<section id="one" class="wrapper style2">
  <div class="inner">
    <div class="grid-style">

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/guwahati1_1_600x300.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
              <p>It seem like the elders in the society can never be wrong. They once named Guwahati Pragjyotishpur (Light of the East) and we believe that Guwahati has lived up to this title. It is the largest cosmopolitan city
                 in the North East and is often referred to as the Gateway of North East India as well.</p>
              <h2>GUWAHATI, Assam</h2>
            </header>
            
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/Nathu-La-Pass-in-Sikkim_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Nathula pass, located in the Himalayas, connects India with Tibet. The pass, at 4,310 m above sea level forms a part of a side-shoot of the prehistoric Silk Road.
                   Definitely one of the places to visit in Sikkim without fail.</p>
                <h2>NATHULA PASS, Sikkim
                  </h2>
              </header>
              
            </div>
          </div>
        </div>
        

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/laitlum-canyon_600x300.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
<p>If you are a true trekker, then the Laitlum Canyon should make it to your bucket list of trekking expeditions in the north east. The terrain is a bit difficult to maneuver but with the right tools and a firm grasp of the local guidelines, it is a trek worth taking.
    Easily completed in the span of about 4-5 hours, the panoramic view of Meghalaya from the top if breathtaking.</p>
<h2>LAITLUM CANYON, Shillong</h2>
            </header>
         
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/neer-mahal-agartala-wwwflickrcom_1_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>It is the capital of Tripura. It is a famous tourist destination. A lot of top attractions rest here. It is known for its fresh produce of rice, jute, tea and oil seeds. The best places to visit at Agartala are Ujjayanta Palace, Kunjaban Palace, and Neermahal. 
                  These palaces depict the ingenious architecture of the royal era.</p>
                <h2>AGARTALA, Tripura</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/dimapur_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Dimapur is a colourful land that reflects authentic Nagaland. It is infact the only place in the state with an airport. Apart from above mentioned attractions, Dimapur houses Zoological Park, Ao Baptist Church, Diezephe Cr
                   Nagaland Science Centre, Green Park, Rangapahar Forest Reserve, Intaki Wildlife Sanctuary and Shiv Mandir.</p>
                <h2>DIMAPUR, Nagaland</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/itanagar_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Himachal Pradesh is a northern Indian state in the Himalayas. It's home to scenic mountain towns and resorts such as Dalhousie. Host to the Dalai Lama, Himachal Pradesh has a strong Tibetan presence. This is reflected in its Buddhist temples and monasteries, as well as its vibrant Tibetan New Year celebrations.
                   The region is also well known for its trekking, climbing and skiing areas.</p>
                <h2>ITANAGAR, Arunnachal Pradesh</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/Senapati_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Himachal Pradesh is a northern Indian state in the Himalayas. It's home to scenic mountain towns and resorts such as Dalhousie. Host to the Dalai Lama, Himachal Pradesh has a strong Tibetan presence. This is reflected in its Buddhist temples and monasteries, as well as its vibrant Tibetan New Year celebrations.
                     The region is also well known for its trekking, climbing and skiing areas.</p>
                  <h2>SENAPATI, Manipur</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
              <div class="box">
                <div class="image fit">
                  <img src="assets/images/Phawngpui-tourismdotmizoramgovin_600x300.jpg" alt="" />
                </div>
                <div class="content">
                  <header class="align-center">
                    <p>It is located at Chhimtuipui District near Myanmar border. It is the highest mountain peak in Mizoram. It is also known as the ‘House of Gods’ being surrounded by an arena filled with rich flora like orchids, herbs and fauna. 
                      The green blanket of the hills will refresh you at a glance with its beauty.</p>
                    <h2>PHAWNGPUI, Mizoram</h2>
                  </header>
               
                </div>
              </div>
            </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
  <div class="inner">

    <header class="align-center">
      
      <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
        much of the world you can and taste something different at each new location.</p>
      <h2>Tasting the foods of different places is one of the many reasons to travel.

        </h2>
    </header>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
  <div class="inner">
    <header class="align-center">
      <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
      <h2>FOODS OFFERED BY NORTHEAST STATES OF INIDA</h2>
    </header>
    <div class="gallery">
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/image037_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Phagshapa_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/image031_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/image033_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/image035_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
            <div class="image fit">
              <a href="#"><img src="assets/images/image036_600x300.jpg" alt="" /></a>
            </div>
          </div>
          <div>
              <div class="image fit">
                <a href="#"><img src="assets/images/800px-Ilishi_maachha_600x300.jpg" alt="" /></a>
              </div>
            </div>
            <div>
                <div class="image fit">
                  <a href="#"><img src="assets/images/Zu-Tea_600x300.jpg" alt="" /></a>
                </div>
              </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; WWW.ADVENTO.COM
  </div>
</footer>