
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#eee">
        <tr>
            <td align="center">
                <table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#fff">
                    <tr>
                        <td align="center">
                            <table width="1650" height="800" border="0" cellspacing="0" cellpadding="0" style="background:url(assets/images/IMG_91969.jpg);color: #fff;">
                                <tr>
                                    <td align="center" style="padding-top:82px;">
                                        <table width="460" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center">
                                                    <img src="https://cdn.pbrd.co/images/HpmCgj1.png" alt="logo">
                                                    <h1 style="padding: 0px; margin: 0px; color: #fff; font-weight: 700; font-size:100px ;margin-top:20px;">ADVENTO MEMORIES</h1>

                                                    <h3 style="letter-spacing: 0.2px; color: #fff; font-weight: 500; line-height: 40px; font-size: 30px;width:1000px; font-family: 'Montserrat', sans-serif;margin-bottom:16px;">Welocme to our Gallery.
                                                      We make our beautiful memories with our visiters and have a great experiences.</h3>
                                                    
                                                </td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td align="center" style="padding:20px 0;">
                            <table width="700" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Montserrat', sans-serif;">
                                <tr>
                                    <td align="center">
                                        <h2 style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.2px; color: #000; font-weight: 700; font-size: 18px;">A UNIQUE 1 WEEK ADVENTURE</h2>
                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500; line-height: 20px; 
                                        font-size: 20px; font-family: cursive, sans-serif;margin-bottom:16px;">
                                        ‘’Adventure isn't hanging on a rope off the side of a mountain. Adventure is an attitude that we must apply to the day to day obstacles in life.’’
                                           </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="200">
                                        <img src="assets/images/family_1_600x300.jpg" alt="img1" style="display: block;">
                                    </td>
                                    <td width="200">
                                        <img src="assets/images/016_RALF_BRUNEL_3061_600x300.jpg" alt="img2" style="display: block;">
                                    </td>
                                    <td width="200">
                                        <img src="assets/images/Manali_1_450x300.jpg" alt="img3" style="display: block;">
                                    </td>

                                    
                                    
                                </tr>
                                
                                <tr bgcolor="#2e2e2e">
                                    <td width="200" align="center">
                                        <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', sans-serif;font-size:
                                         10px;">Assam Culture</h5>
                                    </td>
                                    <td width="200" align="center">
                                        <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', sans-serif;font-size:
                                         10px;">Moutains & Friends</h5>
                                    </td>
                                    <td width="200" align="center">
                                        <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', sans-serif;font-size:
                                         10px;">Manali Hill station</h5>
                                    </td>
                                </tr> 
                            </table>
                            
                                    
        
                                   
                            <table width="1000" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="200">
                                            <img src="assets/images/mountain825x510_825x510.jpg" alt="img1" style="display: block;">
                                        </td>
                                        <td width="200">
                                            <img src="assets/images/Summer-Tour-825x510.jpg" alt="img2" style="display: block;">
                                        </td>
                                        
                                        
                                        
                                    </tr>
                                    <tr bgcolor="#2e2e2e">
                                        <td width="200" align="center">
                                            <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat',
                                             sans-serif;font-size:
                                             10px;">Mountains & Waterfall</h5>
                                        </td>
                                        <td width="200" align="center">
                                            <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', sans-serif;font-size:
                                             10px;">Hill station & Greenaries</h5>
                                        </td>
                                        
                                    </tr> 
                                </table>
                                <table width="900" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="200">
                                                <img src="assets/images/Golden-Temple-II_1_450x300.jpg" alt="img1" style="display: block;">
                                            </td>
                                            <td width="200">
                                                <img src="assets/images/Taj_2_hero_2_600x300.jpg" alt="img2" style="display: block;">
                                            </td>
                                            <td width="200">
                                                <img src="assets/images/mayanmaar_600x300.jpg" alt="img3" style="display: block;">
                                            </td>
        
                                            
                                            
                                        </tr>
                                        
                                        <tr bgcolor="#2e2e2e">
                                            <td width="200" align="center">
                                                <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', 
                                                sans-serif;font-size:
                                                 10px;">Golden temple, punjab</h5>
                                            </td>
                                            <td width="200" align="center">
                                                <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', 
                                                sans-serif;font-size:
                                                 10px;"> Taj Mahal, Symbol of love</h5>
                                            </td>
                                            <td width="200" align="center">
                                                <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat',
                                                 sans-serif;font-size:
                                                 10px;">Mayanmaar Culture</h5>
                                            </td>
                                        </tr> 
                                    </table>
                                    <table width="900" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="200">
                                                    <img src="assets/images/banner3_2_900x400.jpg" alt="img1" style="display: block;">
                                                </td>
                                                <td width="200">
                                                    <img src="assets/images/munnar_f1_1_750x400.jpg" alt="img2" style="display: block;">
                                                </td>
                                               
            
                                                
                                                
                                            </tr>
                                            
                                            <tr bgcolor="#2e2e2e">
                                                <td width="200" align="center">
                                                    <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', 
                                                    sans-serif;font-size:
                                                     10px;">South India</h5>
                                                </td>
                                                <td width="200" align="center">
                                                    <h5 style="color:#fff;font-weight:500;font-family: 'Montserrat', 
                                                    sans-serif;font-size:
                                                     10px;">Tea World</h5>
                                                </td>
                                                
                                               
                                            </tr> 
                                        </table>
                                    
                        </td>
                    </tr>

                    <tr>
                        <td align="center" style="padding:20px 0;">
                            <table width="720" border="0" cellspacing="0" cellpadding="0" style="font-family: 'Montserrat',
                             sans-serif;">
                                <tr>
                                    <td align="center">
                                        <h2 style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.2px; color: #000; 
                                        font-weight: 1400;
                                         font-size: 28px;">Some Lines You Must Go Through</h2>
                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500;
                                         line-height: 20px; 
                                        font-size: 20px; font-family: cursive, sans-serif;margin-bottom:16px;">We present to you travel quotes around the world that inspire you to pack your bags right away and discover uncharted territories. Each comes with a deep underlying meaning and winning image leaving a lingering desire to satiate the wander list in you.
                                         </p>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>


                    <tr>
                        <td>
                            <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-image: url(https://cdn.pbrd.co/images/HpngW5H.png);background-size:cover;background-repeat:no-repeat;font-family: 'Montserrat', sans-serif;">
                                <tr>
                                    <td align="center" style="padding: 25px 0;">
                                        <table width="1650" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="140" bgcolor="#fff" style="padding: 20px 30px 20px 30px;">
                                                    <p style="letter-spacing: 0.2px; color: #000; font-weight: 500;
                                                     line-height: 20px; font-size: 20px; font-family: Helvetica, sans-serif;margin-bottom:16px;"> An adventurous life does not necessarily mean climbing mountains, 
                                                      swimming with sharks, or jumping off cliffs. It means risking yourself by leaving a little piece of you behind in all those you meet along the way.</p>
                                                </td>
                                                <td width="60"></td>
                                                <td width="140" bgcolor="#fff" style="padding: 20px 30px 20px 30px;">
                                                    <p style="letter-spacing: 0.2px; color: #000; font-weight: 500; 
                                                    line-height: 20px; font-size: 20px; font-family:Helvetica, sans-serif;margin-bottom:16px;">“ You'll be the same year after year except for the people you meet, the books you read, the films you watch, the places you travel, and the new things you do."</p>
                                                </td>
                                                <td width="140" bgcolor="#fff" style="padding: 20px 30px 20px 30px;">
                                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500;
                                                         line-height: 20px; font-size: 20px; font-family:Helvetica, sans-serif;margin-bottom:16px;">
                                                         “Traveling solo does not always mean you’re alone. Most often, 
                                                         you meet marvelous people along the way and make connections that last a lifetime.
                                                         May your trails be crooked, winding, lonesome, dangerous, leading to the most amazing view
                                                          ”</p>
                                                    </td>
                                                    <td width="60"></td>
                                                    <td width="140" bgcolor="#fff" style="padding: 20px 30px 20px 30px;">
                                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500; line-height:
                                                         20px; font-size: 20px; font-family: Helvetica, sans-serif;margin-bottom:16px;">
                                                         “ I always wonder why birds choose to stay in the same place when they can fly anywhere on the earth, then I ask myself the same question.
                                                         ”</p>
                                                    </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table align="center" width="1000" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="1000" style="padding: 40px 30px 20px 30px;">
                                        <h2 style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.2px; color: #000; font-weight: 700; font-size: 18px;text-align:center">BOOK YOUR NEXT ADVENTURE NOW</h2>
                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500; line-height: 20px; font-size: 20px; font-family: 'Montserrat', sans-serif;margin-bottom:0px;">We are redesigning our lives to one that focuses on the freedom of travel! . </p>
                                        <p style="letter-spacing: 0.2px; color: #000; font-weight: 500; line-height: 20px; font-size: 20px; font-family: 'Montserrat', sans-serif;margin-bottom:16px;">Adventure means something different to each and every one of us.  Some of us find adventure is participation of adrenaline-pumped activities, whilst for some of us, adventure is found when we push ourselves beyond our comfort zone. .</p>
                                    </td>
                                    <td width="1000">
                                        <img src="assets/images/img4.png" alt="lastimg" style="display: block;">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/bootstrap-tutorial/"> www.Adventure.com</a>
          <div class="footer-social-btns">
            <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
            <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
        </div>
        </div>
        <!-- Copyright -->
      
      </footer>

