<!-- ***** About Area Start ***** -->
<section class="dorne-about-area section-padding-0-100">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="about-content text-center">
                  <h2>Discover your Plan Tour with <br><span>Advento</span></h2>
                  <p><b>“I hope you see things that startle you. I hope you feel things you never
                       felt before. I hope you meet people with a different point of view. I hope
                        you live a life you’re proud of. If you find that you’re not, I hope you 
                        have the strength to start all over again.”</b></p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** About Area End ***** -->
<div class="new">

</div>

<app-f-area></app-f-area>

