

<!-- Banner -->
<section class="banner full">
    <article>
        <img src="assets/images/Howrah_bridge_betwixt_Lights_1440x970.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Kolkata (formerly Calcutta) is the capital of India's West Bengal state. <bR>
              Founded as an East India Company trading post, it was India's capital under the British Raj from
               1773–1911. <br>Today it’s known for its grand colonial architecture, art galleries and cultural
                festivals. It’s also home to Mother House,<br>
               headquarters of the Missionaries of Charity, founded by Mother Teresa, whose tomb is on site.
              </p>
            <h2>West Bengal</h2>
          </header>
        </div>
      </article>
  <article>
    <img src="/assets/images/Bodh-Gaya-Great_Buddha_Statue-wk1_1440x970.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Bihar is a state in East India, bordering Nepal. <br>It is divided by the River Ganges, which floods its fertile plains. <br>Important Buddhist pilgrimage sites include the Bodhi Tree in Bodhgaya's Mahabodhi Temple,
           under which the Buddha allegedly meditated. <br>In the state capital Patna, Mahavir Mandir temple is revered by Hindus, while Sikhs worship at the domed,
        <br>   riverside Gurdwara of Takht Sri Harmandir Sahib Ji.</p>
        <h2>Bihar</h2>
      </header>
    </div>
  </article>
  <article>
      <img src="assets/images/925003695s_1440x970.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Jharkhand is a state in eastern India. It's known for its waterfalls, <br>
            the elegant Jain temples of Parasnath Hill and the elephants and tigers of Betla National Park. <br>
            The state capital of Ranchi is a gateway to the park. It features the 17th-century Jagannath Temple, <br>
            a Hindu shrine and the Jharkhand War Memorial.
             Tagore Hill is a monument honoring Nobel Prize-winning author Rabindranath Tagore.
              </p>
          <h2>Jhakhand</h2>
        </header>
      </div>
    </article>
    <article>
        <img src="assets/images/4r1frqa8485rbpofn1_1_1440x970.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Odisha (formerly Orissa), an eastern Indian state on the Bay of Bengal,
              <br> is known for its tribal cultures and its many ancient Hindu temples.<br>
               The capital, Bhubaneswar, is home to hundreds of temples, notably the intricately-carved Mukteshvara. <br>
               The Lingaraj Temple complex, dating to the 11th century, is set around sacred Bindusagar Lake.<br>
                The Odisha State Museum is focused on the area’s history and environment.
              </p>
            <h2>Orissa</h2>
          </header>
        </div>
      </article>
      

  
</section>


<section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>The East of India is a mostly rural region stretching from Sikkim in the Himalayan South to the coast of the bay of Bengal. Kolkata (formerly known as Calcutta) is the largest city in the region, also the temple cities of Puri
           of Lord Jagannath fame and Bhubaneswar are both in Odisha (formerly known as Orissa).</p>
        <h2>There are 3 East Indian States.</h2>
        <h3>Places you must visit in East India</h3>
      </header>
    </div>
  </section>
<!-- One -->

<section id="one" class="wrapper style2">
  <div class="inner">
    <div class="grid-style">

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/Queen-Victoria-Kolkata-best-place-for-couples_600x300.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
              <p>The Victoria Memorial is a large marble building, which is considered to be the pride of Kolkata. Built between 1906 and 1921, it is dedicated to the memory of Queen Victoria. 
                Now, it is a museum and a popular tourist spot under the Ministry of Culture.</p>
              <h2>VICTORIAL MEMORIAL</h2>
            </header>
            
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/amusement-park-best_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Aquatica is a water theme park and resort in Kolkata having many exciting themed rides, slides, entertainment and recreational activities for all their guests. The water park occupies over 75000 square feet of area and provides for
                   a pleasant respite from the scorching summer heat. They provide lock.</p>
                <h2>WATER & AMUSEMENT PARK</h2>
              </header>
              
            </div>
          </div>
        </div>
        

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/chilika-950x694_600x300.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
              <P>Asia's largest brackish water lagoon with water spread ranging from 1165
                 sq km m the rainy season to 906 sq km in the dry season is nestled in the
                  heart of the coastal Odisha (Orissa).</P>
              <h2>CHILIKA LAKE</h2>
            </header>
         
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/1476334790_rotates_shareiq_1081_1476291690.234430_1_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>The Shree Jagannath Temple of Puri is an important Hindu temple dedicated to Lord Jagannath, a form of lord Vishnu, 
                  located on the eastern coast of India, at Puri in the state of Odisha.</p>
                <h2>BHUBANESHWAR</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/Jharkhand-1_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
<p>Jonha Falls is a lovely natural destination near Ranchi which is surrounded by greenery. A number of tourists visit this place to cherish the water flowing from the mountain. People take bath in the water and feel satisfied.
   Jonha Falls is a wonderful place for family visits. </p>              
     <h2>RANCHI</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/nalanda-bihar_1_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Probably the oldest university in India, Nalanda is an important site to visit in Bihar. A perfect reminisce to the time of flourishing Gupta and Pala period, Nalanda is an acclaimed tourist attraction in Bihar. It is believed that the last and most famous Jain Tirthankara, Mahavira spent 14 monsoon seasons here
              .</p>
                <h2>NALANDA, Bihar</h2>
              </header>
           
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
  <div class="inner">

    <header class="align-center">
      
      <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
        much of the world you can and taste something different at each new location.</p>
      <h2>Tasting the foods of different places is one of the many reasons to travel.

        </h2>
    </header>
  </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
  <div class="inner">
    <header class="align-center">
      <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
      <h2>FOODS OFFERED BY EAST STATES OF INDIA</h2>
    </header>
    <div class="gallery">
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Litti_chokha_dipped_in_Ghee_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/malpua_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/image045_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Chena-Poda_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/Maccha-Ghanta_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
            <div class="image fit">
              <a href="#"><img src="assets/images/pittha_600x300.jpg" alt="" /></a>
            </div>
          </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; WWW.ADVENTO.COM
  </div>
</footer>