<section id="banner">
  <div class="inner">
    <header>
      <h1><font color="wheat">About Us</font></h1>
      <p><font size="4">ADVENTO Holidays is famouse touroism in Punjab,India.
         We are known for our high<br>
         class services and for the unvalauble <br>
        services we offer to those who come to explore the ‘God’s Own Country. Our mission <br>
        is to provide unmatched holiday experiences for our <br>
customers with the best services and true value for money holding high the values 
such as reliability, dedication and customer satisfaction.

<br>     high the values such as reliability, dedication and customer satisfaction.</font></p>
    </header>
    <a href="#main" class="button big scrolly">Learn More</a>
  </div>
</section>

<!-- Main -->
<div id="main">

  <!-- Section -->
    <section class="wrapper style1">
      <div class="inner">
        <!-- 2 Columns -->
          <div class="flex flex-2">
            <div class="col col1">
              <div class="image round fit">
                <a href="https://github.com/11606656Puru" class="link"><img src="assets/images/Capture_320x320.png" alt="" /></a>
              </div>
            </div>
            <div class="col col2">
              <h2><font color="blue">PURUSHOTTAM KUMAR</font></h2>
              <h4>Technical Development Assistant at <i>VENTUREPACT</i><br>
              B-Tech (3rd Year) Student at Lovely Professional University</h4>
              <p> "People who succeed have momentum. The more they succeed, the more they want to succeed, 
                and the more they find a way to succeed. Similarly, when someone is failing, the tendency is to get on a downward spiral that can even become a self-fulfilling prophecy."</p>
             
              <a href="https://www.linkedin.com/in/purushottam-kumar-722420132/" class="button">LinkedIn Profile</a>
            </div>
          </div>
      </div>
    </section>

  <!-- Section -->
    <section class="wrapper style2">
      <div class="inner">
        <div class="flex flex-2">
          <div class="col col2">
            <h2>SHOAIL PATHAN</h2>
            <h4>Technical Development Assistant at <i>VENTUREPACT</i><br>
              B-Tech (3rd Year) Student at Lovely Professional University</h4>
            <p>"Keep on going, and the chances are that you will stumble on 
              something, perhaps when you are least expecting it. I never heard 
              of anyone ever stumbling on something sitting down."</p>
            <a href="https://www.linkedin.com/in/sohail-pathan-47a952bb/" class="button">LinedIn Profile</a>
          </div>
          <div class="col col1 first">
            <div class="image round fit">
              <a href="" class="link"><img src="assets/images/sholi_320x320.jpg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </section>

  <!-- Section -->
    <section class="wrapper style1">
      <div class="inner">
        <header class="align-center">
          <h2>Our Services</h2>
          <p><font color="red">“Don’t try to tell the customer what he wants. If you want to be smart, 
            <br>be smart in the shower. Then get out, go to work, and serve the customer !”.</font></p>
        </header>
        <div class="flex flex-3">
          <div class="col align-center">
            <div class="image round fit">
              <img src="assets/images/theme1.jpg" alt="" />
            </div>
            <p>The ultimate entertainment , sprawling across acres of land,ideally located <br>
               at the apex of the golden triangle of Jaipur, Agra and Delhi,Here, the carnival <br>
              that is India is distilled  into one iconic destination.This fabulous <bR>
              Kingdom brings to life a blend of India's art, culture, heritage, craft, cuisine. <br>
             </p>
            <a href="#" class="button">Entertainment Venues</a>
          </div>
          <div class="col align-center">
            <div class="image round fit">
              <img src="assets/images/theme2.jpg" alt="" />
            </div>
            <p>India is booming as one of the largest shopping destinations in the world.<br>
               Every year a large number of new centers open for shopaholics.<br>
                India offers a unique shopping experience in the mall, compared to other countries.<br>
               Let's take a look at the ten biggest shopping centers in India.</p>
            <a href="#" class="button">Resturant & Shopping Malls</a>
          </div>
          <div class="col align-center">
            <div class="image round fit">
              <img src="assets/images/theme3.jpg" alt="" />
            </div>
            <p>This is one of the last cottages as you move towards the Bay view point / Sunset point, <br>
              just the right amount of quiet, lovely breeze and sea view to enjoy a peaceful time.<br>
                The cottage has a small front yard complete with lounge chairs, hammock for that lazy<br>
                 afternoon or fun evening/night under a starlit sky.Live music at the resort adds to the charm<br>

               
              </p>
            <a href="#" class="button">Resorts and Hotels</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="page-footer font-small blue">

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/bootstrap-tutorial/"> www.Adventure.com</a>
        <div class="footer-social-btns">
          <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
          <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
          <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
          <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
      </div>
      </div>
      <!-- Copyright -->
    
    </footer>
		<!-- Footer -->
		
