

<!-- Banner -->
<section class="banner full">
  <article>
    <img src="assets/images/new_kerala_1440x970.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Kerala has emerged as one of the most popular tourist places in India. The natural beauty in the form of beaches, mountain ranges, wildlife, backwaters and lush green areas offer a splendid view to the visitors. There are many places to be visited here. 
          The cities and the places in Kerala have significance of their own.<br>
          Thiruvananthapuram is the capital of the state, where tradition and modernity coexists. Beautiful beaches, monuments and museums, intricately carved temples, art galleries and the greenery makes the city more attractive for the tourists. As the state is blessed by nature,
           it has something to offer to everyone.</p>
        <h2>Kerela</h2>
      </header>
    </div>
  </article>
  <article>
      <img src="assets/images/Jog-Falls-1_1440x970.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Karnataka is a state in southwest India with Arabian Sea coastlines. The capital, Bengaluru (formerly Bangalore), is a high-tech hub known for its shopping and nightlife. To the southwest, Mysore is home to lavish temples including Mysore Palace, former seat of the region’s maharajas. Hampi, once the medieval Vijayanagara empire’s capital, 
            contains ruins of Hindu temples, elephant stables and a stone chariot.
              .</p>
          <h2>Karnataka</h2>
        </header>
      </div>
    </article>
  <article>
    <img src="assets/images/Rushikonda_beach_view_001-Andhra-Pradesh_1440x970.jpg" alt="" />
    <div class="inner">
      <header>
        <p>Andhra Pradesh is a state bordering India’s southeastern coast. Major cultural landmarks include Tirumala Venkateswara Temple, an ornate hilltop shrine to Hindu’s Vishnu, in the southern part of the state. It’s visited by tens of millions of pilgrims annually. The major northern port of Visakhapatnam has popular beaches
           like Ramakrishna and Rishikonda lining the Bay of Bengal, offering spots for swimming and surfing.
          </p>
        <h2>Andra Pradesh</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/6cad38cd9766c81771dc6c1521e7fa66_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Tamil Nadu, a South Indian state, is famed for its Dravidian-style Hindu temples. In Madurai, Meenakshi Amman Temple has high ‘gopuram’ towers ornamented with colourful figures. On Pamban Island, Ramanathaswamy Temple is a pilgrimage site. The town of Kanyakumari, at India’s southernmost tip, is the site of ritual sunrises. 
          Capital Chennai is known for beaches and landmarks including 1644 colonial Fort St. George.</p>
        <h2>Tamil Nadu</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/Hussain_Sagar_Lake_Hyderabad_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Telangana is a state in southern India. In the capital of Hyderabad, the Charminar is a 16th-century mosque with 4 arches supporting 4 towering minarets. The monument overlooks the city's long-running Laad Bazaar. Once the seat of the Qutb Shahi dynasty, the sprawling Golconda Fort is a former diamond-trading center. In the city of Warangal,
           the centuries-old Warangal Fort features carved stone towers and gateways.
          </p>
        <h2>Telangana</h2>
      </header>
    </div>
  </article>
  <article>
    <img src="assets/images/pni-beaches_1440x970.jpg"  alt="" />
    <div class="inner">
      <header>
        <p>Pondicherry (or Puducherry), a French colonial settlement in India until 1954, is now a Union Territory town bounded by the southeastern Tamil Nadu state. Its French legacy is preserved in its French Quarter, with tree-lined streets, mustard-colored colonial villas and chic boutiques. A seaside promenade
           runs along the Bay of Bengal and passes several statues, including a 4m-high Gandhi Memorial.</p>
        <h2>Pondicherry</h2>
        <h3>Union Territory</h3>
      </header>
    </div>
  </article>
  
    <article>
        <img src="assets/images/lakshadweep-islands_1440x970.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Lakshadweep is a tropical archipelago of 36 atolls and coral reefs in the Laccadive Sea, off the coast of Kerala, India. Not all of the islands are inhabited, and only a few are open to visitors (permits required). Kavaratti, one of the more developed islands, is home to dozens of mosques, including the ornately decorated Ujra Mosque, 
              as well as Kavaratti Aquarium, showcasing regional fish, shark and coral species.
              </p>
            <h2>Lakshadweep Islands </h2>
            <h3>Union Territory</h3>
          </header>
        </div>
      </article>
      <article>
          <img src="assets/images/The_Coral_Reef_1440x970.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>The Andaman Islands are an Indian archipelago in the Bay of Bengal. These roughly 300 islands are known for their palm-lined, white-sand beaches, mangroves and tropical rainforests. Coral reefs supporting marine life such as sharks and rays make for popular diving and snorkeling sites. Indigenous
                 Andaman Islanders inhabit the more remote islands, many of which are off limits to visitors.
                </p>
              <h2>Andaman & Nicobar Islands </h2>
              <h3>Union Territory</h3>
            </header>
          </div>
        </article>
</section>

<!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
  
      <header class="align-center">
        
        <p>South India differs quite radically from the North, in part because of a lack of inculturation of
           Islam. South India's languages while belonging to a separate linguistic group,
            nevertheless influenced a great deal of the sub-continents' culture before the era 
            of Muslim rule. Indeed the well-known Hindu revivers, 
          Shankara, Ramanuja & Madhava, all hailed from the south of the Vindhyas.</p>
        <h2>South India consists of the five southern Indian states and three Union Territories.</h2>
      </header>
    </div>
  </section>

<!-- One -->
<section id="one" class="wrapper style2">
  <div class="inner">
    <div class="grid-style">

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/North-Bay-Beach_600x300.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
              <p>In the North Bay Beach you can walk under the sea and finally visit
                 ‘Octopus’s Garden’! Colourful school of fishes, coral reefs and
                  various other marine life forms you’ve never seen before would be swimming 
                  right by you. After all, North Bay Beach is the finest place for sea walking in Asia.</p>
              <h2> SEA WALKING AT NORTH BAY BEACH</h2>
            </header>
            
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/dalssod_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Bangaram Island, a breathtaking island located in the clear blue waters of 
                  the Indian Ocean, is a beautiful tiny island in the Union Territory of Lakshadweep, India.
                   The pristine beaches and vibrant coral reefs are a treat for travellers.</p>
                <h2>BANGARAM ISLANDS</h2>
              </header>
              
            </div>
          </div>
        </div>
        

      <div>
        <div class="box">
          <div class="image fit">
            <img src="assets/images/beach-side-dinner.jpg" alt="" />
          </div>
          <div class="content">
            <header class="align-center">
<P>Seagulls, is like Le Cafe, a government of Pondicherry enterprise. 
  If you are staying in Pondy for a longish period of time, like I was,
   and are looking for an average place to get your drinks, you should try Seagulls.
    In line with government owned setup things are not at their best, but, are surely not bad either.</P>
<h2>BEACH SIDE DINNER, Pondicherry</h2>
            </header>
         
          </div>
        </div>
      </div>
      <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/main-02_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>One of the largest and glamorous film studios in the world, Ramoji Film City has also place in the Guinness Book of World Records. Spread across an area of almost 2500 acres, it is one of the major film making facility of the country offering everything related to pre and post film production. The architecture of the studio and the
                   wide range of settings makes it one of the favourite spot for many film makers.</p>
                <h2>FILM CITY, HYDERABAD</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/1024px-Varkala_beach_-_cliff_view_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
<P>A beautiful experience in itself, you taste the food even better when all your other senses are treated to the fresh sea wind and the sight of the never-ending ocean.  A complete and ideal tourist destination in South India,
   Varkala is Famous for its springs, fisheries, lighthouses, beaches, lake and much more. </P>                <h2>VARKALA, Kerala</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/ooty_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>The name says it all, you know what’s coming. Take the toy train from Mettupalayam, go boating, and breathe in the Nilgiri hills after climbing up the Dodabetta peak. No matter how many times you go to Ooty, it never fails to amaze you. 
                  This charming place in South India is a complete package to delight your senses.</p>
                <h2>OOTY</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/BandipurNationalPark_20180308232516_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Part of the enormous Nilgiris Biosphere Reserve, the Bandipur National Park is 
                    a plethora of varied fauna and flora, serving as a large habitat for tigers and the Asian 
                    elephant. Rich in its ecological biodiversity, opt to either visit this massive bio-park or 
                    drive by NH 181 or NH 766 which pass through this lush nirvana, promising 
                    you scores of soothing forests and the chance to see some really cool indigenous animals.</p>
                  <h2>BANDIPUR NATIONAL PARK</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
              <div class="box">
                <div class="image fit">
                  <img src="assets/images/river-rafting-in-dandeli1_600x300.jpg" alt="" />
                </div>
                <div class="content">
                  <header class="align-center">
                    <p>Dandeli wildlife sanctuary is a great tourist place in South India for
                       you wild, dirt loving travellers. It is blessed with dense deciduous forests,
                        wide variety of wild animals and the Dandeli river to boot. A popular weekend 
                        holiday destination in Karnataka, this places is a preferred destination for 
                        coracle boating, trekking and rafting. 

                    </p>
                    <h2>CAMPING AND WHITE WATER RIVER RAFTING !</h2>
                  </header>
               
                </div>
              </div>
            </div>
    </div>
  </div>
</section>



<section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
          much of the world you can and taste something different at each new location.</p>
        <h2>Tasting the foods of different places is one of the many reasons to travel.

          </h2>
      </header>
    </div>
  </section>

<!-- Three -->
<section id="three" class="wrapper style2">
  <div class="inner">
    <header class="align-center">
      <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
      <h2>FOODS OFFERED BY SOUTH STATES OF INDIA</h2>
    </header>
    <div class="gallery">
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Chiroti_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/image024_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Idli_and_Medu_vada_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
        <div class="image fit">
          <a href="#"><img src="assets/images/Kodi-Kura-1024x682_600x300.jpg" alt="" /></a>
        </div>
      </div>
      <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/maxresdefault_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
            <div class="image fit">
              <a href="#"><img src="assets/images/seafood_600x300.png" alt="" /></a>
            </div>
          </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer id="footer">
  <div class="container">
    <ul class="icons">
      <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
  </div>
  <div class="copyright">
    &copy; WWW.ADVENTO.COM
  </div>
</footer>