

<!-- Banner -->
<section class="banner full">
    <article>
        <img src="/assets/images/-94048_9068_1440x970.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Goa is a state in western India with coastlines stretching along the Arabian Sea. <br>
              Its long history as a Portuguese colony prior to 1961 is evident in its preserved <br>
              17th-century churches and the area’s tropical spice plantations. Goa is also known for<br> 
              its beaches, ranging from popular 
              stretches at Baga and Palolem to those in laid-back fishing villages such as Agonda.</p>
            <h2>Goa</h2>
          </header>
        </div>
      </article>
      <article>
          <img src="assets/images/1520917700slider1_1440x970.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Gujarat, India's westernmost state, has varied terrain and numerous sacred sites. <br>
                In its urban center of Ahmedabad is the Calico Museum of Textiles, displaying antique and modern<br>
                 Indian fabrics. Spiritual leader Mahatma Gandhi's base from 1917–1930 was 
                 <br>Sabarmati Ashram, 
                 where his living quarters remain on view. The Jama Masjid
                 (Friday Mosque), built in the 15th century, has a huge courtyard and a columned design.
                  </p>
              <h2>Gujarat</h2>
            </header>
          </div>
        </article>
        <article>
            <img src="assets/images/maharashtra_1440x970.jpg" alt="" />
            <div class="inner">
              <header>
                <p>Maharashtra, a state spanning west-central India, is best known for its fast-paced capital, 
                  Mumbai (formerly Bombay). <br>
                  This sprawling metropolis is the seat of the Bollywood film industry.
                  <br> It also has sites like the British Raj-era Gateway of India monument and cave temples at Elephanta
                  <br> Island. To the south is the rustic, beach-lined Konkan Coast. In the city of Pune, <br>
                  Aga Khan Palace is a memorial to Mahatma Gandhi.</p>
                <h2>Maharastra</h2>
              </header>
            </div>
          </article>
</section>

  <section id="two" class="wrapper style3">
      <div class="inner">
  
        <header class="align-center">
          
          <p>Western India is a loosely defined region of India consisting of its western part. 
            The Ministry of Home Affairs in its Western Zonal Council Administrative division includes the states of Goa, Gujarat, and Maharashtra along with the 
            Union territory of Daman and Diu and Dadra and Nagar Haveli.</p>
          <h2>There are 3 West Indian States.</h2>
          <h3>Places you must visit in West India along with Union territory of Daman and Diu and Dadra and Nagar Haveli.</h3>
        </header>
      </div>
    </section>
<!-- One -->

  <section id="one" class="wrapper style2">
    <div class="inner">
      <div class="grid-style">

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/095_2_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                  <p>Sabarmati Ashram is located in the Sabarmati suburb of Ahmedabad, Gujarat, adjoining the Ashram Road, on the banks of the River Sabarmati, four miles from the town hall.It was from his base here that Gandhi led the Dandi march also known as the Salt Satyagraha 
                      (which was the first mass movement of Indian Independence History) on 12 March 1930.</p>        
                <h2>SABARMATI ASHRAM</h2>
              </header>
              
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/hotel_surbhi_kutch_hotel_in_mundra_hotel_in_kutch_rann_utsav_kutch-2_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                    <p>Great Rann of Kutch is reputed to be the world’s largest white salt desert. Spanning over an area of 7505 sq km in the western fringes of Gujarat, the desert looks like a diamond under 
                        the scorching sun and appears like an eerie under the bluish glow during the night hours.</p>
                      <h2>WHITE DESERT – GREAT RANN OF KUTCH
                        </h2>
                    </header>
                
              </div>
            </div>
          </div>
          

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/Dudhsagar-Falls111_600x300.png" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                  <p>Literally meaning a sea of milk, Dudhsagar Falls is a 4 tiered waterfall located and the 4th tallest waterfall of India. Located at a distance of 46km
                      from Madgaon, the falls appear spectacular during monsoons after been fed by the rains</p>
                   <h2>Dudhsagar Falls: Witness The Fury Of Nature’s Glory
                     </h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/Titos_600x300.jpeg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                    <p>Goa has always being popular for its nightlife, and Tito’s is one of the best nightclubs in Goa. It is also one of the first discotheques of Goa. Located off the main road, towards Baga beach, Tito’s consists of 2 levels; dance floor on level 1 and level 2 is from where you can sit and watch over the action below. </p>
                    <h2>Tito’s: Dance Away The Blues</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/Matheran_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
<p>A visit up a secluded and charming hill destination of Matheran can be an interesting
   experience, so much that you can almost forget all your worries. Entrenched in the Western 
   Ghats range, Matheran is an environment-friendly place that does not allow any vehicle, and
    thus, walking or taking a pony ride are the options you can choose from.</p>              
        <h2>LONAVALA</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/Lohgad-Fort_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Lohagad (iron fort) is one of the many hill forts of Maharashtra state in India. Situated close to the hill station Lonavala and 52 km (32 mi) northwest of Pune, Lohagad rises to an elevation of 1,033 m (3,389 ft) above sea level. The fort is connected to the neighboring Visapur fort by a small range.</p>
                  <h2>LOHAGARH FORT
                    </h2>
                </header>
             
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
          much of the world you can and taste something different at each new location.</p>
        <h2>Tasting the foods of different places is one of the many reasons to travel.

          </h2>
      </header>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
        <h2>FOODS OFFERED BY NORTH STATES OF INIDA</h2>
      </header>
      <div class="gallery">
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/fafda_600x300.png" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/khandvi_600x300.png" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/image018-1024x678_600x300 (1).jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/3.-fish-recheado_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
            <div class="image fit">
              <a href="#"><img src="assets/images/prawn-curry_625x350_81456118875_600x300.jpg" alt="" /></a>
            </div>
          </div>
          <div>
              <div class="image fit">
                <a href="#"><img src="assets/images/misal-pav-recipe_600x300.jpg" alt="" /></a>
              </div>
            </div>
      </div>
    </div>
  </section>

 <!-- Footer -->
 <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; WWW.ADVENTO.COM
    </div>
  </footer>