

<!-- Banner -->
<section class="banner full">
    <article>
        <img src="assets/images/Chitrakot_falls_at_night_-_panoramio_1440x970 (1).jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Chhattisgarh is one of those rare tourist destinations which still enjoys the feeling of being untouched.<bR>
               Endowed with a rich cultural heritage and blessed by nature’s bounty,<br>
                there is a lot that a tourist will find of interest here. After all, this state is home to the <br>
                Chitrakote Falls, also known as the mini-Niagara Falls of India due to its enormous height, 
              along with the great width which it possesses.
                </p>
            <h2>Chhattisgarh</h2>
          </header>
        </div>
      </article>
    <article>
        <img src="/assets/images/11-sanchi-stupa1_1440x970.jpg" alt="" />
        <div class="inner">
          <header>
            <p>Madhya Pradhesh, in central India, draws visitors with well-preserved remnants of its compelling history.<bR>
               Its many abandoned cities provide an intriguing window to the past,<br>
                so different to the congested India of today. In further contrast, the national parks of <br>Madhya 
              Pradesh offer some of India's best jungle lodges and wildlife spotting opportunities. </p>
            <h2>Madhya Pradesh</h2>
          </header>
        </div>
      </article>
    
       
</section>

  <section id="two" class="wrapper style3">
      <div class="inner">
  
        <header class="align-center">
          
          <p>Central India is a loosely defined region of India consisting of the states of Chhattisgarh and Madhya Pradesh. Indore, the commercial capital of Madhya 
            Pradesh is the largest city in the region. Other major cities include Bhopal and Raipur. </p>
          <h2>There are only some central Indian States.</h2>
          <h3>Places you must visit in Central India.</h3>
        </header>
      </div>
    </section>
<!-- One -->

  <section id="one" class="wrapper style2">
    <div class="inner">
      <div class="grid-style">

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/gwalior-fort-panorama-v1_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                  <p>The great thing about Gwalior is that it's so accessible -- only two hours drive from Agra and the Taj Mahal in Uttar Pradesh. 
                    The main attraction the massive hilltop fort that towers over the city.</p>        
                <h2>GWALIOR</h2>
              </header>
              
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/925011562s_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                    <p>Kanha National Park has the honor of providing the inspiration for Rudyard Kipling’s classic novel, The Jungle Book. 
                      It’s rich in lush saal and bamboo forests, lakes, streams and open grasslands. </p>
                      <h2>KANHA NATIONAL PARK
                        </h2>
                    </header>
                
              </div>
            </div>
          </div>
          

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/Sirpur-Heritage-Site_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                  <p>One of the famous tourist attractions of Chhattisgarh is Sirpur. Located just 84km from the capital, Raipur, its home to fascinating archaeological
                     remains besides being gifted with a traditional cultural heritage and architecture.</p>
                   <h2>SIRPUR HERITAGE SITE
                     </h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/Titos_600x300.jpeg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
<p>Jatmai Ghata rani is very famous picnic spot near Raipur, Located in the South East Highlands of Chhattisgarh. Ghatarani waterfall and Maa Durga Temple is one of the best place to visit in capital city of Raipur.</p>                    
   <h2>GHATARANI WATERFALL TEMPLE</h2>
                </header>
             
              </div>
            </div>
          </div>
          
         
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
          much of the world you can and taste something different at each new location.</p>
        <h2>Tasting the foods of different places is one of the many reasons to travel.

          </h2>
      </header>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
        <h2>FOODS OFFERED BY EAST STATES OF INDIA</h2>
      </header>
      <div class="gallery">
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/shutterstock_601125677_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/IMG_3705_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/muthia_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/bhajia_600x300.jpg" alt="" /></a>
          </div>
        </div>
        
      </div>
    </div>
  </section>

 <!-- Footer -->
 <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; WWW.ADVENTO.COM
    </div>
  </footer>