  <!-- ***** Welcome Area Start ***** -->
  <section class="dorne-welcome-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/dark.jpeg);">
    <div class="container h-100 cutom-container">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-10">
                <div class="hero-content">
                    <h2>Discover places near you</h2>
                    <h4>This is the best guide of your city</h4>
                   
                </div>
                <div class="hero-content1">
                 <h3><font color="wheat">“Life is adventure, not predicament.”</font></h3></div>
                <!-- Hero Search Form -->
                <div class="hero-search-form">
                    <!-- Tabs -->
                    
                    <!-- Tabs Content -->
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-places" role="tabpanel" aria-labelledby="nav-places-tab">
                            <h6>What are you looking for?</h6>
                            <form action="#" method="get">
                                <select class="custom-select">
                                    <option selected>Your Destinations</option>
                                    <option value="1">Himachal Pradesh</option>
                                    <option value="2">Kolkata</option>
                                    <option value="3">New Delhi</option>
                                    <option value="4">Chennai</option>
                                    <option value="5">Mumbai</option>
                                </select>
                                <select class="custom-select">
                                    <option selected>All Cities</option>
                                    <option value="1">Catagories 1</option>
                                    <option value="2">Catagories 2</option>
                                    <option value="3">Catagories 3</option>
                                </select>
                                
                                <button type="submit" class="btn dorne-btn"><i class="fa fa-search pr-2" aria-hidden="true"></i> Search</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Social Btn -->
   
</section>
<!-- ***** Welcome Area End ***** -->

<app-categoryarea></app-categoryarea>