

<!-- Banner -->
  <section class="banner full">
    <article>
      <img src="/assets/images/delhi_edit.jpg" alt="" />
      <div class="inner">
        <header>
          <p>Delhi is a Union Territory situated in the northern part of India.<br> It is the second-largest city by population and the largest metropolitan by area in India. 
           <br> The city is known officially as the National Capital Territory of Delhi.</p>
          <h2>New Delhi</h2>
        </header>
      </div>
    </article>
    <article>
        <img src="assets/images/up_edit.jpg"  alt="" />
        <div class="inner">
          <header>
            <p>Uttar Pradesh also popular as U.P, is a state situated in northern India.
              <br>
               Uttar Pradesh is bordered by Nepal and Indian states such as Uttarakhand,
                Himachal Pradesh, Haryana, Delhi, Rajasthan, Madhya Pradesh, Chhattisgarh, 
                Jharkhand and Bihar.<br> It is the most populated state in India with a population of
                 almost 199 million people.<br> It is also known as the cultural cradle of India since
                  it is believed to be the birthplace of Hinduism.
                .</p>
            <h2>Uttar Pradesh</h2>
          </header>
        </div>
      </article>
      <article>
          <img src="assets/images/rajas_1440x970 (1).jpg" alt="" />
          <div class="inner">
            <header>
              <p>Delhi is a Union Territory situated in the northern part of India.<br> It is the second-largest city by population and the largest metropolitan by area in India. 
               <br> The city is known officially as the National Capital Territory of Delhi.</p>
              <h2>Rajasthan</h2>
            </header>
          </div>
        </article>
    <article>
      <img src="assets/images/harayana_edit.jpg" alt="" />
      <div class="inner">
        <header>
          <p>Haryana is a state situated in North India. 
            <br>It shares its borders with Punjab and Himachal Pradesh in the north, 
            Rajasthan in the west and south and Uttarakhand and Uttar Pradesh in the east. 
            <br>Haryana is surrounded by Delhi on the northern, western and southern borders.
            <br> Also quite a sizable portion of Haryana comes under the purview of the National
             Capital Region.
            </p>
          <h2>Haryana</h2>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/kashmir_edit.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Jammu and Kashmir is situated in the northernmost part of India.
            <br>Jammu and Kashmir abounds in natural splendor mostly because of its geographic location.
            <br>Nestled quietly in the Himalayan Mountains this state in India is filled with mountainous 
            landscapes and numerous shrines.<br>
             Jammu and Kashmir is bounded by Himachal Pradesh and Punjab in the south and
              the People's Republic of China in the north and east.</p>
          <h2>Jammu & Kashmir</h2>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/uttarakhand_edit.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Uttarakhand is a state located in northern India.
            <br> It was formerly known as Uttaranchal and was craved out of the north-western districts of
             Uttar Pradesh and the adjoining Himalayan Ranges on 9 November 2000.<br>
              It is also called the Land of Gods because of numerous holy Hindu temples found across 
              the different cities in the state.<br> Uttarakhand shares its borders with Nepal in the east 
              the Tibet Autonomous Region in the north, <br>
            Uttar Pradesh in the south, Haryana in the west and Himachal Pradesh in the North West. 
            </p>
          <h2>Uttarakhand</h2>
        </header>
      </div>
    </article>
    <article>
      <img src="assets/images/himachal_pradesh_edit.jpg"  alt="" />
      <div class="inner">
        <header>
          <p>Himachal Pradesh is one of the most popular states in Northern India. 
            <br>It spans over an area of 21,495 sq mi (55,673 km2), and it shares its borders with 
            Jammu and Kashmir in the north,<br>
             Haryana and Uttar Pradesh in the south, Punjab in the west and south-west and 
             Uttarakhand in the south-east.
             <br> Himachal Pradesh literally means Region of snowy mountains.</p>
          <h2>Himachal Pradesh</h2>
        </header>
      </div>
    </article>
    
      <article>
          <img src="assets/images/punjab_edit.jpg"  alt="" />
          <div class="inner">
            <header>
              <p>Punjab is another significant state situated in the northwest part of the India. <br>
                It is one of the most naturally blessed states in the country. 
                <br>Punjab shares its borders with Jammu and Kashmir in the north, 
                Himachal Pradesh in the east, Haryana in the south and Pakistani in the west.<br>
                 Chandigarh serves as the capital of both Punjab and Haryana.
                </p>
              <h2>Punjab</h2>
            </header>
          </div>
        </article>
  </section>


  <section id="two" class="wrapper style3">
      <div class="inner">
  
        <header class="align-center">
          
          <p>North India is a loosely defined region consisting of the northern part of India. 
            The dominant geographical features of North India are the Indus-Gangetic Plain and the Himalayas, 
            which demarcate the region from the Tibetan Plateau and Central Asia.</p>
          <h2>There are 6 North Indian States and one Union Territory.</h2>
          <h3>Places you must visit in North India</h3>
        </header>
      </div>
    </section>
<!-- One -->

  <section id="one" class="wrapper style2">
    <div class="inner">
      <div class="grid-style">

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/new_bana_1.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Varanasi is a city Regarded as the spiritual capital of India, 
                  the city draws Hindu pilgrims who bathe in the Ganges River’s 
                  sacred waters and perform funeral rites. Along the city's winding
                    streets are some 2,000 temples, including Kashi Vishwanath, 
                    the “Golden Temple,”
                     dedicated to the Hindu god Shiva.</p>
                <h2>RIVER GANGA</h2>
              </header>
              
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/AMRIT_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>The Golden Temple, also known as Sri Harmandir Sahib or Darbar Sahib, is a Gurdwara located in the city of Amritsar, Punjab, India.
                     It is the holiest Gurdwara and the most important pilgrimage site of Sikhism.The Harmandir Sahib is an open house of worship for all men and women, from all walks of life and faith.</p>
                  <h2>GOLDEN TEMPLE</h2>
                </header>
                
              </div>
            </div>
          </div>
          

        <div>
          <div class="box">
            <div class="image fit">
              <img src="assets/images/RED_600x300.jpg" alt="" />
            </div>
            <div class="content">
              <header class="align-center">
                <p>Red Fort is a historic fort in the city of Delhi in India. It was the main residence of the emperors of the Mughal dynasty for nearly 200 years, until 1856. It is located in the center of Delhi and houses a number of museums.</p>
                <h2>RED FORT</h2>
              </header>
           
            </div>
          </div>
        </div>
        <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/JAMMU_600x300.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Jammu and Kashmir is a state in northern India, often denoted by its acronym, J&K. It is located mostly in the Himalayan mountains, 
                    and shares borders with the states of Himachal Pradesh and Punjab to the south.</p>
                  <h2>JAMMU Hilly Areas</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/nainital_edit.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Nainital is a Himalayan resort town in the Kumaon region of India’s Uttarakhand state, at an elevation of roughly 2,000m. Formerly a British hill station, it’s set around Nainital Lake, a popular boating site with Naina Devi Hindu Temple on its north shore. A cable car runs to Snow View observation point (at 2,270m), with vistas over the town and mountains including Nanda Devi, Uttarakhand’s highest peak.</p>
                  <h2>NAINITAL</h2>
                </header>
             
              </div>
            </div>
          </div>
          <div>
            <div class="box">
              <div class="image fit">
                <img src="assets/images/manali_edit.jpg" alt="" />
              </div>
              <div class="content">
                <header class="align-center">
                  <p>Himachal Pradesh is a northern Indian state in the Himalayas. It's home to scenic mountain towns and resorts such as Dalhousie. Host to the Dalai Lama, Himachal Pradesh has a strong Tibetan presence. This is reflected in its Buddhist temples and monasteries, as well as its vibrant Tibetan New Year celebrations.
                     The region is also well known for its trekking, climbing and skiing areas.</p>
                  <h2>MANALI</h2>
                </header>
             
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

<!-- Two -->
  <section id="two" class="wrapper style3">
    <div class="inner">

      <header class="align-center">
        
        <p>These food and travel quotes will remind you to work hard to have money for travel and see as 
          much of the world you can and taste something different at each new location.</p>
        <h2>Tasting the foods of different places is one of the many reasons to travel.

          </h2>
      </header>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper style2">
    <div class="inner">
      <header class="align-center">
        <p class="special">Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different states and each state expresses its tradition through its cuisine. So we have come forward with the traditional dishes of each and every state of India. Enjoy!</p>
        <h2>FOODS OFFERED BY NORTH STATES OF INIDA</h2>
      </header>
      <div class="gallery">
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/TABAK_EDIT.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/KADI_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/uttarafood_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
          <div class="image fit">
            <a href="#"><img src="assets/images/MUTTON_SHAMI_KEBAB_600x300.jpg" alt="" /></a>
          </div>
        </div>
        <div>
            <div class="image fit">
              <a href="#"><img src="assets/images/Makki-Ki-Roti-Sarson-Ka-Saag-Carrot-Halwa_600x300.jpg" alt="" /></a>
            </div>
          </div>
          <div>
              <div class="image fit">
                <a href="#"><img src="assets/images/9b34ed3d887ca88acd13cea7a72677d0_600x300.jpg" alt="" /></a>
              </div>
            </div>
      </div>
    </div>
  </section>

 <!-- Footer -->
 <footer id="footer">
    <div class="container">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
    </div>
    <div class="copyright">
      &copy; WWW.ADVENTO.COM
    </div>
  </footer>