
<!-- ***** Features Destinations Area Start ***** -->
<section class="dorne-features-destinations-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-heading dark text-center">
                    <span></span>
                    <h4>FEATURED DESTINATIONS IN INIDA
                      </h4>
                    <p>"The journey is never ending. 
                      There's always gonna be growth, improvement, 
                      adversity; you just gotta take it all in and do what's 
                      right, continue to grow, continue to live in the moments".
                    
                      </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="features-slides owl-carousel">
                    <!-- Single Features Area -->
                    <div class="single-features-area">
                        <img src="/assets/img/bg-img/feature-1.jpg" alt="" no-repeat>
                        <!-- Price -->
                       
                           
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Ibiza</h5>
                                <p>Party</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Features Area -->
                    <div class="single-features-area">
                        <img src="assets/img/bg-img/feature-2.jpg" alt="">
                        <!-- Price -->
                        
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Paris</h5>
                                <p>Luxury</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Features Area -->
                    <div class="single-features-area">
                        <img src="assets/img/bg-img/feature-3.jpg" alt="">
                        <!-- Price -->
                        
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Lake Como</h5>
                                <p>Spectacular</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Features Area -->
                    <div class="single-features-area">
                        <img src="assets/img/bg-img/feature-4.jpg" alt="">
                        <!-- Price -->
                        
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Greece</h5>
                                <p>Sunny</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Features Area -->
                    <div class="single-features-area">
                        <img src="assets/img/bg-img/feature-5.jpg" alt="">
                        <!-- Price -->
                        
                        <div class="feature-content d-flex align-items-center justify-content-between">
                            <div class="feature-title">
                                <h5>Norway</h5>
                                <p>All Year round</p>
                            </div>
                            <div class="feature-favourite">
                                <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Destinations Area End ***** -->

  <!-- ***** Features Restaurant Area Start ***** -->
  <section class="dorne-features-restaurant-area bg-default">
      <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                  <div class="section-heading text-center">
                      <span></span>
                      <h4>FOOD SPECIALITIES OF SOME STATES OF INDIA
                        </h4>
                      <p>Today we see more and more foreign food chains opening up in every corner of India and what we have forgotten is that India, being a diverse country, has so many cultures across different
                         states and each state expresses its tradition through its cuisine. So we have come 
                        forward with the traditional dishes of each and every state of India. Enjoy!</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-12">
                  <div class="features-slides owl-carousel">
                      <!-- Single Features Area -->
                      <div class="single-features-area">
                          <img src="assets/img/bg-img/feature-6.jpg" alt="">
                          <!-- Rating & Map Area -->
                          <div class="ratings-map-area d-flex">
                              <a href="#">8.5</a>
                          </div>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-title">
                                  <h5>Martha’s bar</h5>
                                  <p>Manhathan</p>
                              </div>
                              <div class="feature-favourite">
                                  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Features Area -->
                      <div class="single-features-area">
                          <img src="assets/img/bg-img/feature-7.jpg" alt="">
                          <!-- Rating & Map Area -->
                          <div class="ratings-map-area d-flex">
                              <a href="#">9.5</a>
                          </div>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-title">
                                  <h5>Delux Restaurant</h5>
                                  <p>Paris</p>
                              </div>
                              <div class="feature-favourite">
                                  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Features Area -->
                      <div class="single-features-area">
                          <img src="assets/img/bg-img/feature-8.jpg" alt="">
                          <!-- Rating & Map Area -->
                          <div class="ratings-map-area d-flex">
                              <a href="#">8.2</a>
                          </div>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-title">
                                  <h5>Jim’s corner Pub</h5>
                                  <p>Madrid</p>
                              </div>
                              <div class="feature-favourite">
                                  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Features Area -->
                      <div class="single-features-area">
                          <img src="assets/img/bg-img/feature-9.jpg" alt="">
                          <!-- Rating & Map Area -->
                          <div class="ratings-map-area d-flex">
                              <a href="#">8.7</a>
                          </div>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-title">
                                  <h5>tower Risto bar</h5>
                                  <p>Sydney</p>
                              </div>
                              <div class="feature-favourite">
                                  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Features Area -->
                      <div class="single-features-area">
                          <img src="assets/img/bg-img/feature-10.jpg" alt="">
                          <!-- Rating & Map Area -->
                          <div class="ratings-map-area d-flex">
                              <a href="#">9.8</a>
                          </div>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-title">
                                  <h5>Pizzeria venezia</h5>
                                  <p>Hong Kong</p>
                              </div>
                              <div class="feature-favourite">
                                  <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> www.Adventure.com</a>
      <div class="footer-social-btns">
        <a href="#"><i class="fa fa-linkedin" aria-haspopup="true"></i></a>
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-haspopup="true"></i></a>
        <a href="#"><i class="fa fa-facebook" aria-haspopup="true"></i></a>
    </div>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- ***** Features Restaurant Area End ***** -->