<!-- ***** Catagory Area Start ***** -->
<section class="dorne-catagory-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="all-catagories">
                  <div class="row">
                      <!-- Single Catagory Area -->
                      <div class="col-12 col-sm-6 col-md">
                          <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.2s">
                               

                              <div class="catagory-content">
                                    <a href="north"  routerLink="/north">
                                  <img src="assets/img/core-img/north.png" alt="">
                                      <h6 >North India</h6>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Catagory Area -->
                      <div class="col-12 col-sm-6 col-md">
                          <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                              <div class="catagory-content">
                                    <a href="south" routerLink="/south">

                                  <img src="assets/img/core-img/south.png" alt="">
                                      <h6>South India</h6>
                                  </a>
                              </div>
                          </div>
                      </div>
                      
                      <!-- Single Catagory Area -->
                      <div class="col-12 col-sm-6 col-md">
                          <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.6s">
                              <div class="catagory-content">
                                    <a href="central" routerLink="/central">
                                  <img src="assets/img/core-img/central.png" alt="">
                                      <h6>Central India</h6>
                                  </a>
                              </div>
                          </div>
                      </div>
                      <!-- Single Catagory Area -->
                      <div class="col-12 col-sm-6 col-md">
                          <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.8s">
                              <div class="catagory-content">
                                    <a href="west" routerLink="/west">
                                  <img src="assets/img/core-img/east.png" alt="">
                                      <h6>West India </h6>
                                  </a>
                              </div>
                          </div>
                      </div>

                       <!-- Single Catagory Area -->
                       <div class="col-12 col-sm-6 col-md">
                        <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="0.4s">
                            <div class="catagory-content">
                                  <a href="northeast" routerLink="/northeast">
                                <img src="assets/img/core-img/ni_80x80.png" alt="">
                                    <h6>North East India</h6>
                                </a>
                            </div>
                        </div>
                    </div>
                      <!-- Single Catagory Area -->
                      <div class="col-12 col-md">
                          <div class="single-catagory-area wow fadeInUpBig" data-wow-delay="1s">
                              <div class="catagory-content">
                                    <a href="east" routerLink="/east">
                                  <img src="assets/img/core-img/west.png" alt="">
                                      <h6>East India</h6>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- ***** Catagory Area End ***** -->
<app-about></app-about>


